//= require normalize.css

html, body {
  height: 100%;
}

body {
  width: 95%;
  max-width: 700px;
  margin: 10px auto;
}

.post-title-input, .post-body-input, .post-submit {
  display: block;
  outline: none;
}

.post-title-input, .post-body-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
}

.post-body-input {
  margin: 1em 0;
}

.post-submit {
  margin: 0 auto;
}

.post-title, .post-title-input {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24pt;
}

.post-body, .post-body-input {
  font-family: Georgia, Garamond, serif;
  line-height: 1.5em;
}
